.Login {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 200px;
}
.divider {
    width: 60px;
    height: auto;
    display: inline-block;
}

.loginField {
    margin-bottom: 30px !important;
}

.passwordField {
    margin-bottom: 30px !important;
}